<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sql_exp.mapper.RoomMapper">

    <select id="getRoomList" resultType="com.sql_exp.pojo.obj.Room">
        SELECT *
        FROM exp_room
        <where>
            <if test="roomIdList != null and !roomIdList.isEmpty()">
                AND id IN
                <foreach item="id" collection="roomIdList"
                         open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>

            <if test="status != null">
                AND status = #{status}
            </if>

            <if test="type != null and type != ''">
                AND type LIKE CONCAT('%', #{type}, '%')
            </if>
        </where>
        LIMIT #{page}, #{pageSize}
    </select>
</mapper>